article{
    max-width: 600px;
    margin: auto;
    font-size: 18px;
}
article h1{
    margin: 0;
}

article h2{
    /*text-align: center;*/
    border-bottom: 1px dashed #b4b4b4;
    width: fit-content;
    margin-bottom: 10px;
    padding-bottom: 5px;
}

article + article{
    border-top: 1px solid #d0d0d0;
    padding: 20px 0 ;
}

article p {
    letter-spacing: 0.6;
    line-height: 30px;
    color: #1a202c;
    font-family: "Abyssinica SIL";
}

article p:first-letter{
    padding-left: 10px;
    font-size: 35px;
    color: #696969;
}
